<header class="site-header">

  <div class="ui brown inverted padded top fixed borderless menu">

    <div class="ui container">

      <a class="site-title" href="{{ site.baseurl }}/">
        <h3 class="ui inverted header item">UserAle.js</h3>
      </a>

      <div class="right menu">
        <a class="item" href="{{ '/docs' | prepend: site.baseurl }}">Docs</a>
        <a class="item" href="{{ '/about' | prepend: site.baseurl }}">About</a>
        <a class="item" href="{{ '/demo' | prepend: site.baseurl }}">Demo</a>
        <a class="item" href="http://github.com/draperlaboratory/useralejs">Github</a>
      </div>

    </div>

  </div>

</header>
